* {
    margin: 1%;
    padding: 1%;
    box-sizing: border-box;
}

#banner__container {
    background-color: #E9CD67;
    color: #3f3f35;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 1px;
    margin: 0;
    z-index: 9999;
}

.navbar__logo {
    font-weight: bold;
    font-size: 1.7vw;
    padding: 10px;
    position: fixed;
    background-color: #436450;
    top: 0px;
    left: 3px;
    margin: 0;
    padding: 10px;
    padding-top: 0px;
    margin-top: 39px;
    width: 100%;
    z-index: 9999;
}

h3,
body {
    color: #E9CD67;
    font-family: 'Georama', sans-serif;
    font-weight: 600;
}

body {
    background-color: #436450;
    margin: 0;
    padding: 0;
}

.main__container {
    display: grid;
    grid-template: repeat(8, 12.5%) / repeat(8, 11%);
}

.main__container img {
    grid-area: 2 / 2 / span 4 / span 2;
    /*max-height: 55vh;*/
    position: absolute;
    top: 15vh;
    left: 30vh;
    height: 55vh;
}

#introduction {
    grid-area: 2 / 5 / 2 / span 5;
    font-size: 4vw;
    margin: 2vh 4vw;
}

#name {
    grid-area: 2 / 6 / 2 / span 6;
    font-family: 'Homemade Apple', sans-serif;
    font-size: 9vw;
    position: absolute;
    right: 20vh;
    top: 30vh;
}

#job-title {
    grid-area: 4 / 5 / 4 / span 3;
    font-size: 2.5vw;
    margin: 6vh 2vw;
    position: absolute;
    right: 10vh;
    top: 55vh;
}

#about-me {
    grid-area: 4 / 2 / 4 / span 5;
    font-size: 1.5vw;
    position: absolute;
    top: 70vh;
    left: 30vh;
}

.break {
    padding: 10vh;
    height: 600px;
}

.section {
    text-align: center;
}

.education__container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 2%;
    margin-bottom: 0;
}

.title {
    font-size: 2vw;
}

/* Accordion */
.accordion {
    background-color: #E9CD67;
    color: #436450;
    cursor: pointer;
    padding: 1.8vw;
    width: 98%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.3vw;
    transition: 0.4s;
    margin-bottom: 0;
}

.active, .accordion:hover {
    background-color: #f1d778;
    margin-bottom: 0;
}

.accordion:after {
    content: '\002B';
    color: #436450;
    font-weight: bold;
    float: right;
    margin-left: 1%;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 1.8vw;
    background-color: #3a5645;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-top: 0;
    margin-bottom: 0;
}

li {
    font-family: 'Georama', sans-serif;
    font-weight: 400;
    margin: 0;
}

.panel-img2 {
    margin-left: 2%;
    max-width: 25%;
    position: relative;
    bottom: 54vh;
    margin-bottom: 0;
    left: 40%;
    height: 1.5vh;
    width: 3vw;
}

.panel-img3 {
    margin-left: 2%;
    max-width: 25%;
    position: relative;
    bottom: 54vh;
    margin-bottom: 0;
    left: 40%;
    height: 1.5vh;
    width: 3vw;
}

.panel-img4 {
    margin-left: 2%;
    max-width: 25%;
    position: relative;
    bottom: 45vh;
    margin-bottom: 0;
    left: 40%;
    height: 1.5vh;
    width: 3vw;
}
